# VITE_API_URL = "https://api.thevanillashop.lk/api"
# VITE_API_URL = "https://vanilla-shop-api.onrender.com/api"
VITE_API_URL = "http://localhost:3000/api"
VITE_RECAPTCHA_SITE_KEY = "6Len5GAtAAAAAMRqiA2fMYHSGj1_qc3fSmMmbCty"
VITE_RECAPTCHA_SECRET_KEY = "6Len5GAtAAAAAIU2ASFo7j23XSdhjkwFY6P5rXvv"