@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  /* Custom Fonts */
  --font-serif: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;

  /* Custom Colors */
  --color-vanilla-50: #fdfbf7;
  --color-vanilla-100: #f7f1e3;
  --color-vanilla-200: #efead5;
  --color-vanilla-800: #5d4037;
  --color-vanilla-900: #3e2723;
  
  --color-gold-500: #d4af37;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-vanilla-50);
}
::-webkit-scrollbar-thumb {
  background: var(--color-gold-500);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b59026;
}